<%= current_user %>

<div class="centerElements">
	<h1>All Pills</h1>
</div>
<div class="allPills">
	<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
		<% @pills.each do |pill| %>
			<li class="pillCard">
				<%= link_to pill.name, pill_path(pill), :class => "pillName" %>
				<div class="pillHormone hidden"><%= pill.hormone %></div>
			</li>
		<%end%>
	</ul>
</div>

