<%= @pill.name %><br/>
<%= @pill.hormone %>
<%@reviews.each  do |review|%>
	<%= review.text %>
<%end %>
<% if current_user %>
	<div class = "addReview">
		<h1> Add a review </h1>
		<%= link_to 'New review', new_pill_review_path(@pill, @review)%>
	</div>
<%end %>