<h1>What's in your birth control</h1>
<p> Here is where you can find information about birth control pills and user reivews.  this is NOT a medical site, just something that interests me.</p>

<% if user_signed_in? %>
	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<%= link_to 'My Reviews', controller: 'reviews' %>
<% else %>
	<%= link_to "Sign in", new_user_session_path, :method => :get %>
	<%= link_to "Sign up", new_user_registration_path, :method => :get %>
<%end %>

