<div class="row">
	<div class="row">
		<div class="row">
		  	<div class="centerElements">
		  		<h1 class="headline">New Review for <%=@pill.name %></h1>
		  	</div>
		</div>
	</div>


	<%= render 'form' %>

	<%= link_to 'Back', pill_reviews_path, :class => "button green" %>
</div>