<div class="row">
	<div class="row">
		<div class="row">
		  	<div class="centerElements">
		  		<h1 class="headline">New Review for <%=@pill.name %></h1>
		  	</div>
		</div>
	</div>


	<%= render 'form' %>


</div>